body {
    margin: 0;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
    animation: fadeIn 2s ease-in-out;
}

.loading-bar {
    width: 200px;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
    overflow: hidden;
    margin-top: 20px;
}

.progress {
    width: 0;
    height: 100%;
    background-color: white;
    animation: loading 3s linear forwards;
}


@keyframes loading {
    0% { width: 0; }
    100% { width: 100%; }
}

@keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.8); }
    100% { opacity: 1; transform: scale(1); }
}